<app-switch-user></app-switch-user>
<div>
    <section *ngFor="let group of config_groups" class="module-container">
        <p-card header="{{group['title']}}">
            <p-table
                    [value]="config_items[group['id']]"
                    [paginator]="false"
                    [rows]="5"
                    [showCurrentPageReport]="true"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[5, 10, 20]"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:25%">Label</th>
                            <th style="width:25%">Value</th>
                            <th style="width:25%">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>{{ item.label }}</td>
                            
                            <td>
                                <span *ngIf="item.type=='text' || item.type=='select'" [innerHTML]="item.user_value ? item.user_value : item.value"></span>
                                <span *ngIf="item.type=='boolean'">
                                    <ng-container *ngIf="item.user_value">
                                        {{ item.user_value==1 ? "enabled" : "disabled" }}
                                    </ng-container>
                                    <ng-container *ngIf="!item.user_value">
                                        {{ item.value==1 ? "enabled" : "disabled" }}
                                    </ng-container>
                                </span>
                                <span *ngIf="item.type!='text' && item.type!='select' && item.type!='boolean'">
                                    <a href="">View</a>
                                </span>
                            </td>
                            <td>{{ 'Edit' }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft">
                        
                    </ng-template>
                    <ng-template pTemplate="paginatorright">
                        
                    </ng-template>
            </p-table>
        </p-card> 
    </section>
</div>
<app-config-panel></app-config-panel>