<div class="sortable">
    <section class="item-container droppable " data-name="Applications" data-id="20">
       <div class="item" style="background-color: #000">
          <div class="app-icon-container">
             <img class="app-icon" src="http://lordmaximus.duckdns.org:82/storage/icons/Pg1QmMXrUrMD0KsPnbqBXyXF1nX52vN9YlC9yY0c.png">
          </div>
          <div class="details">
             <div class="title white">Applications</div>
          </div>
          <a rel="noopener noreferrer" onauxclick="this.blur();" onclick="this.blur();" class="link white" href="http://lordmaximus.duckdns.org:82/tag/applications">
            <svg class="svg-inline--fa fa-tag fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg>
          </a>
       </div>
       <a class="item-edit" href="http://lordmaximus.duckdns.org:82/tags/20/edit">
        <svg class="svg-inline--fa fa-pencil fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="pencil" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"></path></svg>
       </a>
    </section>
 </div>
 