<div class="config-panel">
    <a id="page-left" class="config" routerLink="" pTooltip="Show Previous Page" tooltipPosition="right">
        <i class="pi pi-arrow-left"></i>
    </a>                
    <a id="config-button" class="config" routerLink="" pTooltip="Reorder and pin items" tooltipPosition="right">
        <i class="pi pi-arrow-right-arrow-left"></i>
    </a>
    <a id="dash" class="config" routerLink="" pTooltip="Home dashboard" tooltipPosition="right">
        <i class="pi pi-th-large"></i>
    </a>
    <a id="items" class="config" routerLink="/applications" pTooltip="Application List" tooltipPosition="right">
        <i class="pi pi-list"></i>
    </a>
    <a id="folder" class="config" routerLink="/tags" pTooltip="Tags List" tooltipPosition="right">
        <i class="pi pi-tags"></i>
    </a>
    <a id="settings" class="config" routerLink="/settings" pTooltip="Settings" tooltipPosition="right">
        <i class="pi pi-cog"></i>
    </a>
    <a id="page-right" class="config" routerLink="" pTooltip="Show Next Page" tooltipPosition="right">
        <i class="pi pi-arrow-right"></i>
    </a>
</div>