<div class="searchform">
    
    <div id="search-container" class="input-container">
        <select name="provider" autocomplete="off">
            <option value="tiles">Tiles</option>
            <option value="baidu">Baidu</option>
            <option value="bing">Bing</option>
            <option value="ddg">DuckDuckGo</option>
            <option value="google" selected="selected">Google</option>
            <option value="startpage">Startpage</option>
        </select>
        <input class="homesearch" autofocus="autofocus" placeholder="Search Keyword..." name="q" type="text" autocomplete="off">
        <button type="submit">Search</button>
    </div>
    
</div>
 