<p-sidebar class="sidenav" [(visible)]="sidebarVisible">
    <ng-template pTemplate="header">
        <h3>Pinned Items</h3>
    </ng-template>
    
    <ul id="pinlist">
        <li>
            Applications
            <i class="pi pi-bookmark-fill"></i>
        </li>

        <li>
            Opportunities
            <i class="pi pi-bookmark-fill"></i>
        </li>
        
        <li>
            Anime
            <i class="pi pi-bookmark-fill"></i>
        </li>
        <li>
            Data Structures
            <i class="pi pi-bookmark-fill"></i>
        </li>
    </ul>
</p-sidebar>