<app-switch-user></app-switch-user>
<div class="userlist">
    <div class="user" href="http://lordmaximus.duckdns.org:82/userselect/2">
        <img class="user-img" src="http://lordmaximus.duckdns.org:82/storage/avatars/CNq3Vz5wVijoT5pFZ0NRJKAtVUYIlpNj8WLEmXiB.jpg">
        Sammy
        <input id="password" type="password" class="form-control" name="password" autofocus="" required="" autocomplete="off">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</div>
<app-config-panel></app-config-panel>    
